#container{
	position: relative;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	padding: 30px 5%;
}
#contact_main{
    font-family: 'Gilroy';
	display: flex;
	flex-flow: row wrap;
	flex: 1 1 100%;
	height: 100%;
}
@media all and (min-width: 1050px){
	#contact_main{
		flex: 1 1 0;
		border-right: 1px dashed #aaa;
	}
}
#contact_main h4{
	display: flex;
	flex-basis: 100%;
	align-items: center; /* Выравнивание текста по вертикали */
	justify-content: center; /* Выравнивание текста по горизонтали */
	text-align: center;
}
#contact_1, #contact_2, #contact_3{
	display: flex;
	flex-basis: 100%;
	align-items: center; /* Выравнивание текста по вертикали */
	justify-content: center; /* Выравнивание текста по горизонтали */
	text-align: center;
	font-size: 18px;
		padding: 20px 0 60px;
	flex-flow: column nowrap;
}
@media all and (min-width: 550px){
	#contact_1, #contact_2, #contact_3{
		display: inline-block;
		height: 33%;
		text-align: left;
		flex-basis: auto;
		padding-left: 15%;
	}
	#contact_1, #contact_2{
		width: 45%;
	}
	#contact_3{
		width: 90%;
	}
}
#contact_main img{
	max-height: 100%;
	max-width: 100%;
}
.contact_icon1, .contact_icon2, .contact_icon3{
	display: inline-flex;
	align-items: center; /* Выравнивание текста по вертикали */
	justify-content: center; /* Выравнивание текста по горизонтали */
	position: relative;
	width: 32px;
	height: 32px;
	margin-bottom: 10px;
}
#contact_main p{
	font-weight: bold;
	color: #444;
	margin-bottom: 10px;
}
#contact_main a{
    border-bottom: none;
}
#contact_main a:focus, #contact_main a:hover{
    border-bottom: 1px solid rgb(205,220,49);
}
#contact_second{
	display: flex;
	flex: 1 1 100%;
	align-items: center; /* Выравнивание текста по вертикали */
	justify-content: center; /* Выравнивание текста по горизонтали */	
}
#contact_form{
	display: block;
	position: relative;
	max-width: 580px;
	width: 100%;
}
#container h4{
	padding-bottom: 40px;
}
#contact_form input, select{
    font-family: 'Gilroy';
	font-size: 16px;
	display: inline-block;
    color: #000;
	height: 2em;
    width: 100%;
    border: #aaa solid 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#contact_form input:hover, select:hover{
    border: 1px solid #222;
}

#contact_form input:focus, select:focus{
    border: 1px solid #222;
}
#contact_form select{
    padding: 5px 5px 3px 5px;
}
#contact_form select option{
    cursor: pointer;
    padding: 5px;
}
#contact_form textarea{
    font-family: 'Gilroy';
	font-size: 16px;
	display: inline-block;
    color: #000;
    width: 100%;
    height: 150px;
    padding: 10px 8px 2px 16px;
	text-indent: 1.5em;
    resize: none; /* Запрещаем изменять размер */
    border: 1px solid #aaa;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#contact_form textarea:hover, #contact_form textarea:focus{
    border: 1px solid #222;
}
#contact_form input{
    padding: 0 5px 0px 25px;
    background-position: 7px center;
    background-repeat: no-repeat;
	background-size: 24px 24px;
}
#submit{
	position: relative;
	top: 0;
	bottom: 30px;
}
input#send, input#send:focus{
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
	font-family: GOTHIC;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	color: #DDA427;
	background: #fff;
	padding: 15px 30px;
	margin: 30px 0;
	cursor: pointer;
	z-index: 1999;
	border: 2px solid #DDA427;
    border-radius: 0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
	font-weight: bold;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
input#send:hover, input#send:active{
	color: #fff;
	background: #DDA427;
	border: 2px solid #DDA427;
}
#contact_form label{
	display: inline-block;
	width: 110px;
	vertical-align: top;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 15px;
}
#contact_form span{
    border:0;
    padding:0;
    margin: 0 0 6px;
    display: block !important;
}
/*@media screen and (min-width: 600px){
	#contact_form input, select, #contact_form textarea{
		display: inline-block;
		width: 400px;
	}
	input#send, input#send:focus{
		width: auto;
	}
}*/
@media screen and (min-width: 1050px){
	#contact_second{
		flex: 1 1 0;
	}
	#contact_form{
		font-size: 1.0em;
	}
	#contact_form form{
		padding-left: 7%;
		padding-right: 7%;
	}
}
@media screen and (min-width: 1450px){
	#contact_form input{
	display: inline-block;
		background-size: 28px 28px;
	}
}
@media screen and (min-width: 1600px){
	#contact_form label{
		display: inline-block;
		width: 130px;
		margin-top: 6px;
	}
	#contact_form input{
	display: inline-block;
		background-size: auto;
	}
	#contact_form span{
		margin: 0 0 10px;
	}
}

#ajax_loader{
    display:none;
}
.success{
    border: 1px solid #00CC00 ;
    color:#4F8A10;
    background: #F2FFF2;
    display:none;
    width: 100%;
	max-width: 700px;
    font-size: 0.8em;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.error{
    display:none;
    font-size: 0.8em;
    border: 1px solid #FF4F4F;
    color:#D6000E;
    background: #FFF2F2;
    width: 100%;
	max-width: 700px;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.warning{
    display:none;
    font-size: 0.8em;
    color: #9F6000;
    background: #FFF9D5;
    border: 1px solid #FFD324;
    width: 100%;
	max-width: 700px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#contact_form .noicon{
    padding: 0px 7px 0 7px;
    text-align:center;
}